.page_title {
    color: #930a11;
    font-weight: 400;
    text-align: center;
}

.page_title h1{
    font-size: 1.3em;
    margin-top: 1em;
}

.spacing{
    padding:15px;
}

.logo{
    padding:10px 0;
    text-align: center;
}

.center{
    text-align: center;
}

.blue{
    color: #287fb2;
}

.inline_title{
    font-weight: bold;
}

ul li{
    list-style: none;
}

.ui-page-theme-a{

    text-shadow: none;
}

.ui-page-theme-a a{

    color: #fff;
    font-weight: normal;
}

